.Barcode:-webkit-autofill,
.Barcode:-webkit-autofill:hover,
.Barcode:-webkit-autofill:focus,
.Barcode,
.Barcode:focus {
  border: none;
  outline: none;
  background-color: black;
  color: chartreuse;
}
.descuento {
  color: rgb(189, 252, 231);
}
.elH1 {
  color: azure;
}
.descripcion {
  color: gold;
}
.precio {
  color: white;
}
.oferta{
  color:white;
}
.resultados{
  color:lightslategray;
}